<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration scan="true">

    <springProfile name="dev">
        <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <param name="Encoding" value="UTF-8"/>
            <destination>localhost:8000</destination>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>{"app_name":"origination-retail"}</customFields>
                <includeMdcKeyName>traceId</includeMdcKeyName>
                <includeMdcKeyName>application_raw</includeMdcKeyName>
                <includeMdcKeyName>application_integration_raw</includeMdcKeyName>
            </encoder>
        </appender>

        <logger name="com.rndpoint.able" level="debug" />

        <root level="INFO">
            <appender-ref ref="logstash"/>
        </root>
    </springProfile>

    <springProfile name="!dev">

        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%boldWhite(-- [ %thread ]) %d{dd-MM-yyyy HH:mm:ss.SSS} %boldMagenta([%X{traceId}]) %boldMagenta(%X{application}) %highlight(%-5level) %cyan(%logger{36}) %msg%n
                </pattern>
            </encoder>
        </appender>

        <logger name="com.rndpoint.able" level="debug" />

        <root level="INFO">
            <appender-ref ref="console"/>
        </root>
    </springProfile>

</configuration>